= turbo_frame_tag group do
  .ui.label{id: dom_id(group), style: "color: #{group.color || 'inherit'}", 'data-controller': 'popup-edit'}
    -if group.icon
      %i.icon.fitted{class: group.icon}

    = group.name

  .ui.popup.wide.fixed
    = render 'groups/form', group: group