- hide ||= []

= link_to "Edit", edit_resource_path(resource), class: "ui button primary"
= link_to "Destroy", resource_path(resource), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "ui button negative"

- unless hide.include?(:back)
  = link_to "Go back", collection_path, class: "ui button tertiary"
