= render partial: 'groups/menu'    

=turbo_frame_tag :groups do
  
  %table.ui.table.striped
    %thead
      = render partial: "groups/table/header", object: Group

    %tbody
      = render collection: @groups, partial: "groups/table/row", as: :group

