
= turbo_frame_tag 'flash-messages' do
  %div{data: {controller: 'flashes'}}
    - if notice
      .ui.info.message
        %i.close.icon
        = notice      
    - if alert 
      .ui.warning.message
        %i.close.icon
        = alert