- date ||= Date.today
- calls =  production.first_user_calls


=turbo_frame_tag :first_calls do
  -if calls.any?
    .ui.header
      First Calls for #{local_relative_time date, 'weekday'}

    %table.ui.celled.table.striped
      %thead
        %tr
          %th
            Member
          %th
            First Call
      - calls.each do |user, call|
        %tr
          %td= user.email
          %td= local_relative_time call.start_time, 'time-or-date'


