.ui.right.floated.header.margin-x-zero
  = link_to "New production", new_production_path, class: "ui button primary"  

.ui.left.floated.header
  Productions

%table.ui.table.striped
  %thead
    = render partial: "productions/table/header", object: Production

  %tbody
    = render collection: @productions, partial: "productions/table/row", as: :production

