.ui.right.floated.header.margin-x-zero
  = link_to "New production", new_production_path, class: "ui button primary"  

.ui.left.floated.header
  Productions

-if @productions.empty?
  .ui.placeholder.segment.clearboth
    %h2.header.inline
      Get started
    =link_to "Add a production", new_production_path, class: "ui button primary"


-else
  %table.ui.table.striped.clearboth
    %thead
      = render partial: "productions/table/header", object: Production

    %tbody
      = render collection: @productions, partial: "productions/table/row", as: :production

