= turbo_frame_tag location, :label do
  .ui.label{id: dom_id(location), style: "color: #{location.color || 'inherit'}", 'data-controller': 'popup-edit'}
    -if location.icon
      %i.icon.fitted{class: location.icon}

    = location.name

  .ui.popup.wide.fixed
    = render 'locations/form', location: location