
.ui.segment
  = turbo_frame_tag :flyout, class: "ui flyout" do
    %i.icon.close

    .ui.header 
      Event Detail
      
    .content
      -if @editing
        = render 'form'
      -else
        = render @event

    -if !@editing
      .right.actions{data: {turbo_frame: 'flyout'}}
        = render partial: "shared/resource/actions", object: @event, as: :resource, locals: {hide: [:back], flyout: true}