
- unless @event.destroyed?
  .ui.segment
    = turbo_frame_tag :flyout do
      .content{data: {controller: 'flyout'}}
        = turbo_frame_tag @event do
          = render @event
- else
  = turbo_frame_tag @event do
    .ui.segment
      .content
        Deleted